		body{
			background:#171717;
		}/*
		body div{
			display:none;
			bottom:0%;
			right:0%;
			position:fixed;
			padding: 1px;
			background:#171717;
		}
		box div{
			display: block;
			position:sticky;
		}*/
		#fondo{
			position:fixed;
			width:100%;
			height:100%;
			background-repeat:no-repeat;
			background-size:cover;
			background-position:center;
			background-attachment:fixed;
			filter: blur(15px);
			z-index:-1;
		}
		#player{
			position:absolute;
			right: 1%;
			background:#232323;
			color:#ff2;
			padding:1px;
			width:400px;
			overflow: auto;
		}
		#bar{
			top:1px;
			background:#171717;
			height:10px;
			width: 99.5%;
			position: absolute;
		}
		#linea{
			background:red;
			height:10px;
			position: absolute;
		}
		#playlist input{
			display:none;
		}
		#playlist label{
			border:1px solid #fff;
			padding:3px;
			background:#171717;
			color:#fff;
		}
		.coverbox{
			background:#fff;
			width:30px;
			height:30px;
		}
		#contentmp3{
			position:fixed;
			padding: 3px;
			border: 2px solid #fff;
			width:200px;
			height:80%;
			left:2px;
			bottom: 2px;
			overflow:auto;
			background:#232323;
			color:#fff;
		}
		#test1{
			position:absolute;
			right:0%;
		}
@media screen and (max-width: 400px) {
	#contentmp3{
		display:none;
	}
	#player{
		position:absolute;
		width:98%;
		left:0.5%;
		top:0%;
		z-index:5;
	}
	#playlist{
		position:fixed;
		top:7%;
		right:1%;
		z-index:6;
	}
}
@media screen and (min-width: 800px) {
}